@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Russo One", sans-serif;
    color: white;
    font-weight: 10;
    box-sizing: border-box;
    -webkit-text-stroke: inherit;
    -webkit-text-stroke: initial;
    -webkit-text-stroke: unset;
}
header {
    width: 100vw;
    height: 100vh;
    background-image: url(../Pictures/background.gif);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-content {
    text-align: center;
    font-size: 50px;
    -webkit-text-stroke: 3px black;    
}
.header-content p1 {
    color: rgb(99, 224, 255);
    -webkit-text-stroke: 3px black;
}
