body {
    background: black;
    font-family: monospace;
    animation: fadeInAnimation ease 3s
    
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
.container {
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}
.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}
.logo {
    width: 140px;
    cursor: pointer;
    margin-left: 10px;
}
nav {
    flex: 1;
    text-align: right;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
}
nav ul li a:hover {
    color: #6EBEFF;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}
.title {
    flex-basis: 40%;
    position: relative;
    color: white;
    font-size: 24px;
    margin-top: 10%;
    margin-left: 19%;
}
.button1 {
    background-color: black;
    border: 2px solid #6EBEFF;
    border-radius: 8px;
    color: white;
    padding: 13px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    transition-duration: 0.4s;
    margin-left: 13%;
}
.button1:hover {
    background-color: #6EBEFF;
    color: white;
    cursor: pointer;
}
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
    flex-basis: 40%;
    position: relative;
    color: white;
    font-size: 24px;
    margin-top: 10%;
    margin-left: 19%;
}
.h1 {
    margin-right: 25%;
}
.desc {
    color: white;
    align-items: center;
    font-size: 20px;
    margin-left: 27%;
}